Repository RMI-PACTA/workflow.data.preparation, pull requests merged in 2024-02, with the labels that each got.

#129 add `.dockerignore` file
  .dockerignore
Labels: Docker

#122 don't bind mount the repo directory that gets copied in
  docker-compose.yml
Labels: Docker

#134 remove IPR from default 2022Q4 config
  config.yml
Labels: config

#135 minor whitespace changes in config
  config.yml
Labels: config

#133 use new `factset_industry_map_bridge.rds` from `workflow.factset`
  DESCRIPTION
  README.md
  config.yml
  run_pacta_data_preparation.R
Labels: breaking change

#154 refactor(deploy): Harmonize docker mount points
  config.yml
  docker-compose.yml
Labels: config

#162 document the config keys
  config.yml
Labels: config

#150 feat(app): #148 Export data from scraped files
  config.yml
  run_pacta_data_preparation.R
Labels: config

#159 feat(app): #152 Add functionality to export archives
  config.yml
  run_pacta_data_preparation.R
Labels: config

#164 update paths for local docker context
  config.yml
Labels: config

#136 add default 2023Q4 config
  config.yml
Labels: config
